<div fxLayout="column" fxLayoutAlign="space-between center" style="width: 100%; height: 90%;">
    <h1 mat-dialog-title>{{'ADD_NEW_ENTRY' | translate}}</h1>
    <mat-button-toggle-group [(ngModel)]="entryType">
        <mat-button-toggle value="buy">Buy</mat-button-toggle>
        <mat-button-toggle value="sell">Sell</mat-button-toggle>
        <mat-button-toggle value="div">Dividend</mat-button-toggle>
    </mat-button-toggle-group>
    <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="timestamp">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div *ngIf="entryType === 'buy' || entryType === 'sell'" fxLayout="row" fxLayoutAlign="space-around center" style="width: 90%;">
        <mat-form-field style="width: 30%;">
            <mat-label>shares</mat-label>
            <input matInput type="number" [(ngModel)]="numShares">
        </mat-form-field>
        <mat-form-field style="width: 40%;">
            <mat-label>Price per share ({{currency}})</mat-label>            
            <input matInput type="number" [(ngModel)]="sharePrice">            
        </mat-form-field>
    </div>
    <mat-form-field *ngIf="entryType === 'div'">
        <mat-label>Total dividend ({{currency}})</mat-label>
        <input matInput type="number" [(ngModel)]="total">
    </mat-form-field>
    <mat-form-field *ngIf="entryType === 'buy' || entryType === 'sell'">
        <mat-label>Comission ({{currency}})</mat-label>
        <input matInput type="number" [(ngModel)]="comission">
    </mat-form-field>
    <mat-form-field *ngIf="entryType === 'div'">
        <mat-label>Taxes ({{currency}})</mat-label>
        <input matInput type="number" [(ngModel)]="taxes">
    </mat-form-field>
    <div mat-dialog-actions style="width:100%;margin-top:10pt" fxLayout="row" fxLayoutAlign="space-between center">
        <button mat-stroked-button color="warn" (click)="onNoClick()">{{'NO' | translate}}</button>
        <button mat-raised-button color="primary" (click)="onEnter()" [disabled]="cantEnter()">{{'YES' | translate}}</button>
    </div>
</div>